<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container"><h1>Welcome to the Adaptive Learning Platform</h1></div>
    <div class="button-container">
        <button onclick="location.href='/insights'">Insights</button>
        <button onclick="location.href='/login?next=testin'">Test</button>
        <button onclick="location.href='/login?next=prototype'">Try Out</button>
        
    </div>
</body>
</html>