<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to MAUI Prototype</h1>
    <h1>Login</h1>
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
    </div>

    <!-- Buttons -->
    <div class="button-container">
        <button onclick="location.href='/'">Back to Home</button>
        <button onclick="location.href='/dpd'">See Data Protection Disclosure</button>
    </div>
</body>
</html>
